<template>
    <div class="container-lg timesheet-box">
        <div class="label date-div">
            <p class="date">CHANGE PASSWORD</p>
        </div>
        <hr>
        <div class="cover-form">
            <alert type="danger" :message="errors.message"></alert>
            <div class="form-group">
                <label for="current_password"> Current Password </label>
                <input type="password" class="form-control "
                       :class="{ 'is-invalid': errors && errors.password }" id="current_password"
                       placeholder="********" v-model="currentPassword" autofocus @input="resetError">

                <span class="invalid-feedback" role="alert" v-if="errors && errors.password">
                                        <strong>{{ errors.password[0] }}</strong>
                </span>
            </div>
            <div class="form-group">
                <label for="new_password"> New Password </label>
                <input type="password" class="form-control" :class="{ 'is-invalid': errors && errors.new_password }" id="new_password" placeholder="********"
                       v-model="newPassword" autofocus @input="resetError">

                <span class="invalid-feedback" role="alert" v-if="errors && errors.new_password">
                    <strong>
                        {{ errors.new_password[0] }}
                    </strong>
                </span>
            </div>
            <div class="form-group">
                <label for="new_password_confirmation"> Confirm Password </label>
                <input type="password" class="form-control" :class="{ 'is-invalid': errors && errors.new_password_confirmation }" id="new_password_confirmation" placeholder="********  "
                       v-model="newPasswordConfirmation">

                <span class="invalid-feedback" role="alert" v-if="errors && errors.new_password_confirmation">
                    <strong>
                        {{ errors.new_password_confirmation[0] }}
                    </strong>
                </span>
            </div>
            <div class="submit-button">
                <button type="submit" class="btn btn-primary" @click="changePassword">Submit</button>
            </div>
        </div>

    </div>
</template>

<script>

import BaseAlert from "@/components/partials/BaseAlert"

export default {
    components: {
        'alert': BaseAlert,
    },
    data() {
        return {
            currentPassword: "",
            newPassword: "",
            newPasswordConfirmation: "",
            errors: {},
        }
    },
    methods: {
        changePassword() {
            this.$http.post('/change_password', {
                password: this.currentPassword,
                new_password: this.newPassword,
                new_password_confirmation: this.newPasswordConfirmation,
            })
                .then(response => {
                    try {
                        let responseJson = response.data.data;
                        this.addAccessToken(response.headers, responseJson.access_token);
                        this.$auth.user(responseJson);
                        window.alert('Changed your password successfully!')
                        this.currentPassword = ""
                        this.newPassword = ""
                        this.newPasswordConfirmation = ""
                    } catch (error) {
                        throw new Error(`Problem handling something: ${error}.`);
                    }
                }).catch(error => {
                this.resetError();

                if (error.response.status === 422) {
                    this.errors = error.response.data.meta.errors

                    return
                }

                this.errors = error.response.data.meta
            })
        },

        resetError() {
            this.errors = {}
        },

        addAccessToken(header, accessToken) {
            header.authorization = accessToken;
            this.$auth.token(null, accessToken, false);
        },
    },

}
</script>

<style scoped>
.timesheet-box {
    box-shadow: 2px 2px 0.2em grey, -2px -2px 0.2em grey;
    padding: 0 60px 60px;
    border-radius: 7px;
}

label, .label {
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

hr {
    border-top: 1px solid #e44cc4 !important;
}

.cover-form {
    width: 50%;
    margin: auto;
}

.form-group > input {
    border-color: grey;
}

.submit-button {
    width: 30%;
    margin: 0 auto;
    padding-top: 20px;
}
</style>
