<template>
    <div>
        <welcome :name="$auth.user().username"></welcome>
        <today class="mb-2"></today>
        <div v-if="isLoadedData" class="row mb-4">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-lg-0 mb-md-2 mb-sm-2"
                 v-for="(category, index) in bigLineChartCategories">
                <div class="p-3" :class="backgroundClass[index]">
                    <p class="h1 text-white">{{ bigLineChart.allData[index][currentMonth - 1] }}</p>
                    <p>{{ category }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <card type="chart">
                    <template slot="header">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h5 class="card-category">{{ $t('dashboard.chartByMonthIn', {year: currentYear}) }}</h5>
                                <h2 class="card-title">{{ bigLineChartCategories[bigLineChart.activeIndex] }}</h2>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn-group btn-group-toggle float-right"
                                     data-toggle="buttons">
                                    <label v-for="(option, index) in bigLineChartCategories"
                                           :key="option"
                                           class="btn btn-sm btn-primary btn-simple"
                                           :class="{active: bigLineChart.activeIndex === index}"
                                           :id="index">
                                        <input type="radio"
                                               @click="initBigChart(index)"
                                               name="options" autocomplete="off"
                                               :checked="bigLineChart.activeIndex === index">
                                        {{ option }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </template>
                    <div class="chart-area">
                        <line-chart style="height: 100%"
                                    ref="bigChart"
                                    chart-id="big-line-chart"
                                    :chart-data="bigLineChart.chartData"
                                    :gradient-colors="bigLineChart.gradientColors"
                                    :gradient-stops="bigLineChart.gradientStops"
                                    :extra-options="bigLineChart.extraOptions">
                        </line-chart>
                    </div>
                </card>
            </div>
        </div>
    </div>
</template>
<script>
import LineChart from '@/components/Charts/LineChart';
import Card from "../components/Cards/Card";
import Today from "../components/Today";
import Welcome from "../components/Welcome";
import * as chartConfigs from '@/components/Charts/config';
import config from '@/config';

export default {
    components: {
        LineChart,
        Card,
        Today,
        Welcome
    },
    created() {
        this.$http({
            url: 'employee/dashboard'
        }).then(response => {
            let data = response.data.data;
            this.fillDefaultValueInMissingMonth(data);

            this.assignToChartData(data);

            this.isLoadedData = true;
            this.initBigChart(0);
        }).catch(error => {
            console.log(error);
        });
    },
    data() {
        return {
            isLoadedData: false,
            backgroundClass: ['bg-info', 'bg-danger', 'bg-primary', 'bg-default'],
            bigLineChart: {
                allData: [],
                activeIndex: 0,
                chartData: {
                    datasets: [{}],
                    labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
                },
                extraOptions: chartConfigs.purpleChartOptions,
                gradientColors: config.colors.primaryGradient,
                gradientStops: [1, 0.4, 0],
                categories: []
            },
            purpleLineChart: {
                extraOptions: chartConfigs.purpleChartOptions,
                chartData: {
                    labels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
                    datasets: [{
                        label: "Data",
                        fill: true,
                        borderColor: config.colors.primary,
                        borderWidth: 2,
                        borderDash: [],
                        borderDashOffset: 0.0,
                        pointBackgroundColor: config.colors.primary,
                        pointBorderColor: 'rgba(255,255,255,0)',
                        pointHoverBackgroundColor: config.colors.primary,
                        pointBorderWidth: 20,
                        pointHoverRadius: 4,
                        pointHoverBorderWidth: 15,
                        pointRadius: 4,
                        data: [80, 100, 70, 80, 120, 80],
                    }]
                },
                gradientColors: config.colors.primaryGradient,
                gradientStops: [1, 0.2, 0],
            },
            greenLineChart: {
                extraOptions: chartConfigs.greenChartOptions,
                chartData: {
                    labels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV'],
                    datasets: [{
                        label: "My First dataset",
                        fill: true,
                        borderColor: config.colors.danger,
                        borderWidth: 2,
                        borderDash: [],
                        borderDashOffset: 0.0,
                        pointBackgroundColor: config.colors.danger,
                        pointBorderColor: 'rgba(255,255,255,0)',
                        pointHoverBackgroundColor: config.colors.danger,
                        pointBorderWidth: 20,
                        pointHoverRadius: 4,
                        pointHoverBorderWidth: 15,
                        pointRadius: 4,
                        data: [90, 27, 60, 12, 80],
                    }]
                },
                gradientColors: ['rgba(66,134,121,0.15)', 'rgba(66,134,121,0.0)', 'rgba(66,134,121,0)'],
                gradientStops: [1, 0.4, 0],
            },
            blueBarChart: {
                extraOptions: chartConfigs.barChartOptions,
                chartData: {
                    labels: ['USA', 'GER', 'AUS', 'UK', 'RO', 'BR'],
                    datasets: [{
                        label: "Countries",
                        fill: true,
                        borderColor: config.colors.info,
                        borderWidth: 2,
                        borderDash: [],
                        borderDashOffset: 0.0,
                        data: [53, 20, 10, 80, 100, 45],
                    }]
                },
                gradientColors: config.colors.primaryGradient,
                gradientStops: [1, 0.4, 0],
            }
        }
    },
    computed: {
        bigLineChartCategories() {
            return this.$t('dashboard.chartCategories');
        },
        currentMonth() {
            let today = new Date();

            return today.getMonth() + 1;
        },
        currentYear() {
            let today = new Date();

            return today.getFullYear();
        }
    },
    methods: {
        initBigChart(index) {
            let chartData = {
                datasets: [{
                    fill: true,
                    borderColor: config.colors.primary,
                    borderWidth: 2,
                    borderDash: [],
                    borderDashOffset: 0.0,
                    pointBackgroundColor: config.colors.primary,
                    pointBorderColor: 'rgba(255,255,255,0)',
                    pointHoverBackgroundColor: config.colors.primary,
                    pointBorderWidth: 20,
                    pointHoverRadius: 4,
                    pointHoverBorderWidth: 15,
                    pointRadius: 4,
                    data: this.bigLineChart.allData[index]
                }],
                labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
            }
            this.$refs.bigChart.updateGradients(chartData);
            this.bigLineChart.chartData = chartData;
            this.bigLineChart.activeIndex = index;
        },
        fillDefaultValueInMissingMonth(data) {
            for (const [key, value] of Object.entries(data)) {
                for (let i = 1; i <=12; i++) {
                    if (!value.hasOwnProperty(i)) {
                        value[i] = 0;
                    }
                }
            }
        },
        assignToChartData(data) {
            let order = ['total', 'late', 'tasks_count', 'actual_hours'];
            for (const key in order) {
                this.bigLineChart.allData[key] = Object.keys(data[order[key]]).map(k => {
                    return data[order[key]][k];
                })
            }
        }
    },
    mounted() {
        this.i18n = this.$i18n;
    }
};
</script>
<style>
</style>
