<template>
    <base-datatable title="List Timesheet" :columns-table="columnsTable" :columns-modal="columnsModal" :per-pages="perPages" api-url="/leader/timesheets">
        <template #thead-th>
            <th>Actions</th>
        </template>
        <template slot="tbody-td" slot-scope="{ row }">
        <!-- Button Action -->
        </template>
    </base-datatable>
</template>

<script>
import BaseDatatable from "../../../components/BaseDatatable";

export default {
    components: {
        BaseDatatable
    },
    data() {
        return {
            columnsTable: [
                {label: 'No', field: 'no', align: 'center', sortable: false, width: '5%'},
                {label: 'Date', field: 'date', align: 'center', sortable: true, width: '10%'},
                {label: 'Username', field: 'username', align: 'center', sortable: true, width: '30%'},
                {label: 'Email', field: 'email', align: 'center', sortable: true, width: '20%'},
                {label: 'Updated At', field: 'updated_at', align: 'center', sortable: true, width: '10%'},
                {label: 'Status', field: 'status', align: 'center', sortable: true, width: '10%'},
            ],
            columnsModal: [
                {label: 'No', field: 'no'},
                {label: 'Date', field: 'date'},
                {label: 'Username', field: 'username'},
                {label: 'Email', field: 'email'},
                {label: 'Trouble', field: 'trouble'},
                {label: 'Plan', field: 'plan'},
                {label: 'Status', field: 'status'},
                {label: 'Updated At', field: 'updated_at'},
            ],
            meta: {
                search: '',
                sortColumn: '',
                direction: '',
            },
            isLoaded: false,
            isShowSearchBar: false,
            perPages: [10, 20, 50]
        }
    }
}
</script>

<style scoped>
.btn-circle {
    display: inline-block;
    padding: 0.8rem;
    border-radius: 50%;
    margin-left: 0.15rem;
    margin-right: 0.15rem;
}
</style>
