<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header py-2 border-light border-bottom-size-sm border-info">
                        <div class="row justify-content-between px-3">
                            <p class="h3 m-0">{{ title }}</p>
                            <div class="d-flex align-items-center">
                                <a class="ml-2 cursor-pointer text-white" @click="toggleSearchBar"><i
                                    class="tim-icons tim-icons-32 icon-zoom-split"
                                    aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="row mt-2" v-if="isShowSearchBar">
                            <div class="col-md-3">
                                <input type="text"
                                       class="form-control rounded-0 border-left-0 border-right-0 border-top-0 "
                                       name="search" id="search" placeholder="Enter a string..."
                                       v-model="meta['search']" @input="getData(apiUrl)">
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0" v-if="isLoaded">
                        <table class="table table-hover m-0">
                            <thead>
                            <tr>
                                <th scope="col" v-for="(column, index) in columnsTable"
                                    :key="index"
                                    :class="[{'cursor-pointer sorting' : column.sortable},
                                    meta['sortColumn'] === column.field ? 'sorting-' + meta['direction'] : '']"
                                    @click="sort(index)"
                                    :style="{ width: column.width }"
                                >
                                    {{ column.label }}
                                </th>
                                <slot name="thead-th"></slot>
                            </tr>
                            </thead>
                            <tbody class="border-bottom-size-sm">
                                <span v-if="rows.length === 0" class="text-white w-100 text-center">No data</span>
                                <tr v-for="row in rows" class="cursor-pointer" data-toggle="modal" data-target="#exampleModalScrollable" @click="showDetail(row)">
                                    <td v-for="column in columnsTable">{{ row[column.field] }}</td>
                                    <td>
                                        <slot name="tbody-td" :row="row"></slot>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-2" v-if="isLoaded">
                        <div class="row justify-content-end m-0">
                            <div class="col-md-4 p-0">
                                <div class="row m-0 justify-content-end">
                                    <div class="col-md-6">
                                        <div class="form-group row m-0">
                                            <label for="rowsPerPage" class="col-sm-7 col-form-label">Rows Per
                                                Page:</label>
                                            <div class="col-sm-4 px-2">
                                                <select id="rowsPerPage"
                                                        class="form-control p-0 px-2 bg-transparent cursor-pointer"
                                                        v-model="meta['per_page']" @change="getData(apiUrl)">
                                                    <option v-for="perPage in perPages" :value="perPage">{{ perPage }}
                                                    </option>
                                                    <option :value="getMaxPerPage()">All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 row m-0 align-items-center">
                                        {{ showFromFirstToLastInAPage() }}
                                    </div>
                                    <div class="col-md-2 row m-0 align-items-center justify-content-around">
                                        <a @click="getData(meta['previous_link'])"
                                           class="cursor-pointer"
                                           :class="[{ disable: !meta['previous_link'] }, meta['previous_link'] ? 'text-white' : 'text-black']"
                                           :tabindex="meta['previous_link'] ? 0 : -1"><i
                                            class="tim-icons icon-minimal-left icon-size-lg"></i></a>
                                        <a @click="getData(meta['next_link'])"
                                           class="cursor-pointer"
                                           :class="[{ disable: !meta['next_link'] }, meta['next_link'] ? 'text-white' : 'text-black']"
                                           :tabindex="meta['next_link'] ? 0 : -1"><i
                                            class="tim-icons icon-minimal-right icon-size-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" ref="content-modal">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: () => 'Title',
            description: 'Title header table.'
        },
        columnsTable: {
            type: Array,
            required: true,
            description: 'Table columns.'
        },
        columnsModal: {
            type: Array,
            required: true,
            description: 'Modal columns.'
        },
        perPages: {
            type: Array,
            default: () => [10, 20, 50],
            description: 'Selections of showing number rows in per page.'
        },
        apiUrl: {
            type: String,
            required: true,
            description: 'Api url to get data.'
        }
    },
    data() {
        return {
            meta: {
                search: '',
                sortColumn: '',
                direction: '',
            },
            rows: [],
            isLoaded: false,
            isShowSearchBar: false,
        }
    },
    methods: {
        getData: function (url) {
            this.$http.get(url, {params: this.meta})
                .then(response => {
                    let data = response.data.data;
                    this.meta = Object.assign(this.meta, response.data.meta);
                    this.handleDataAfterLoaded(data);
                    this.isLoaded = true;
                }).catch(error => {
                console.log(error);
            });
        },
        handleDataAfterLoaded(data) {
            let vm = this;

            Object.keys(data).map(function (key, index) {
                data[key]['no'] = vm.meta['per_page'] * (vm.meta['current_page'] - 1) + index + 1;
            });

            this.rows = data;
        },
        toggleSearchBar() {
            this.isShowSearchBar = !this.isShowSearchBar;
        },
        showFromFirstToLastInAPage() {
            let firstNum = this.meta['current_page'] * this.meta['per_page'] - this.meta['per_page'] + 1;
            let lastNum = this.meta['current_page'] * this.meta['per_page'];

            if (lastNum > this.meta['total']) {
                lastNum = this.meta['total'];
            }

            return firstNum + ' - ' + lastNum + ' of ' + this.meta['total'];
        },
        sort(indexColumn) {
            if (!this.isSortable(indexColumn)) {
                return ;
            }

            this.changeSortColumn(indexColumn);
            this.changeSortOrder();
            this.getData(this.apiUrl);
        },
        isSortable(index) {
            return this.columnsTable[index].sortable;
        },
        changeSortColumn(index) {
            this.meta['sortColumn'] = this.columnsTable[index].field;
        },
        changeSortOrder() {
            if (this.meta['direction'] === 'asc') {
                this.meta['direction'] = 'desc';

                return ;
            }

            this.meta['direction'] = 'asc';
        },
        showDetail(row) {
            let contentModal = '';
            this.columnsModal.forEach(function (column, index, array) {
                contentModal += '<div class="row" >\n' +
                    '                            <div class="col-4">' + column["label"] + '</div>\n' +
                    '                            <div class="col-8">' + row[column["field"]] + '</div>\n' +
                    '                        </div>'
            });

            this.$refs['content-modal'].innerHTML = contentModal;
        },
        getMaxPerPage() {
            const MAX_PER_PAGE = 500;

            return this.meta['total'] <= MAX_PER_PAGE ? this.meta['total'] : MAX_PER_PAGE;
        }
    },
    created: function () {
        this.getData(this.apiUrl);
    }
}
</script>

<style scoped>
.icon-size-lg {
    font-size: 1.33em;
}

.border-bottom-size-sm {
    border-bottom: 0.0625rem solid #3d3f51 !important;
}

.disable {
    color: gray;
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}

table tbody tr:hover {
    background: #0c2646;
}

th, td {
    overflow: hidden;
}

a:hover {
    color: black;
}

a {
    outline: none;
}

.sorting:after, .sorting-asc:after, .sorting-desc:after {
    font-family: "Font Awesome 5 Free",sans-serif;
    display: none;
}

.sorting:after, .sorting-asc:after {
    content: "\f062";
}
.sorting-desc:after {
    content: "\f063";
}

.sorting:hover:after, .sorting-asc:after, .sorting-desc:after {
    display: inline-block;
}

select option {
    background: #27293D;
}
</style>
