<template>
    <div class="row">
        <div class="col-12">
            <p class="h2 text-white">{{ $t('dashboard.now', {timestamp: currentTimestamp}) }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: "Today",
    data() {
        return {
            currentTimestamp: '',
        }
    },
    created() {
        setInterval(this.getNow, 1000);
    },
    methods: {
        getNow: function() {
            const today = new Date();
            const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            this.currentTimestamp = date +' '+ time;
        }
    }
}
</script>

<style scoped>

</style>
