<template>
    <div class="row">
        <div class="col-12">
            <p class="h1 text-white">{{ $t('dashboard.welcome', {name: name}) }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: "Welcome",
    props: {
        name: {
            type: String,
            default: "Anonymous"
        }
    }
}
</script>

<style scoped>

</style>
