<template>
    <div>
        <sidebar-link :to="{name: 'leader.timesheets.index'}" :name="$t('sidebar.leader.timesheets.index')" icon="tim-icons icon-chart-pie-36"/>
    </div>
</template>

<script>
import MenuEmployee from "./MenuEmployee";

export default {
    name: "MenuLeader",
    components: {
        MenuEmployee
    }
}
</script>

<style scoped>

</style>
