<template>
    <sidebar-link :to="{name: 'admin-home'}" :name="$t('sidebar.dashboard')" icon="tim-icons icon-chart-pie-36"/>
</template>

<script>
export default {
    name: "MenuAdmin"
}
</script>

<style scoped>

</style>
