<template>
    <div>
        <welcome :name="$auth.user().username"></welcome>
        <today class="mb-2"></today>
    </div>
</template>

<script>
import Welcome from "../../components/Welcome";
import Today from "../../components/Today";

export default {
    name: "Home",
    components: {
        Welcome,
        Today
    }
}
</script>

<style scoped>

</style>
