<template>
    <div class="wrapper">
        <side-bar>
            <template slot="links">
                <menu-employee v-show="$auth.check('Employee')"></menu-employee>
                <menu-admin v-show="$auth.check('Admin')"></menu-admin>
                <menu-leader v-show="$auth.check('Leader')"></menu-leader>
            </template>
        </side-bar>
        <div class="main-panel">
            <top-navbar></top-navbar>
            <dashboard-content @click.native="toggleSidebar"></dashboard-content>
            <content-footer></content-footer>
        </div>
    </div>
</template>
<style lang="scss">
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "./MobileMenu";
import MenuAdmin from "../menu/MenuAdmin";
import MenuEmployee from "../menu/MenuEmployee";
import MenuLeader from "../menu/MenuLeader";

export default {
    components: {
        MenuLeader,
        TopNavbar,
        ContentFooter,
        DashboardContent,
        MobileMenu,
        MenuAdmin,
        MenuEmployee
    },
    methods: {
        toggleSidebar() {
            if (this.$sidebar.showSidebar) {
                this.$sidebar.displaySidebar(false);
            }
        }
    }
};
</script>
